*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    overflow: hidden;
    transition: 1s;
}

body.dark
{
    background-color: #000000;
}

body.light
{
    background-color: #F5F5BC;
}


.ButtonsJs
{
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnHistorico,
.btnTema
{
    width: 100px;
    height: 40px;

    margin: 10px;

    font-size: 20px;

    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #0000FF;
    border-radius: 10px;

    transition: 0.5s;
}

.btnHistorico.light,
.btnTema.light
{
    color: #000000;
    border: 2px solid #FFB0DD;
}

.btnHistorico:hover,
.btnTema:hover
{
    color: #000000;
    background-color: #0000FF;

    scale: 1.1;
}

.btnHistorico.light:hover,
.btnTema.light:hover
{
    border: 2px solid #FFFFFF;
    background-color:  #ffb0dd;
}

.container
{
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 50px auto;

    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.container.light
{
    border: 1px solid #000000;
}

.calculator,
.Historico
{
    width: 360px;
    height: 486px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    position: relative;
    left: 20%;

    margin: 10px auto;

    background-color: #1B1B1B;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    transition: 1s;
}

.calculator.light,
.Historico.light
{
    background-color: #FFFFFF;
    border: 1px solid #1b1b1b;
}

.calculator__header
{
    width: 90%;
    height: 20px;

    color: #FFFFFF;

    text-align: center;

    transition: 1s;
}

.calculator__header.light
{
    color: #000000;
}

.calculator__display
{
    width: 90%;
    height: 40px;

    text-align: center;

    overflow-x: scroll;
    scrollbar-width: none;
    overflow-y: hidden;

    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.calculator__display.light
{
    border: 1px solid #000000;

    color: #000000;
}

.calculator__display-text
{
    font-size: 35px;

    color: #FFFFFF;
}

.calculator__display-text.light 
{
    color: #000000;
}

.calculator__keys
{
    width: 340px;
    height: 400px;
}

.calculator__key
{
    width: 60px;
    height: 60px;

    margin: 10px;

    font-size: 20px;

    border: 1px solid #000000;
    border-radius: 10px;

    transition: 0.4s;
}

.calculator__key:hover
{
    color: #ffffff;
    background-color: #464646;

    scale: 1.1;
}

.calculator__key--operator,
.calculator__key--equals
{
    background-color: #FFC400;
}

.calculator__key--operator:hover,
.calculator__key--equals:hover
{
    color: #000000;
    border: 1px solid #FFC400;
    background-color: #FFFFFF;
    scale: 1.1;
}

.Historico
{
    margin-top: 0;
    top: 1000px;
    left:0;
    
    opacity: 0;
}

.Historico_itens
{
    width: 80%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 0;
    margin: 10px;

    overflow-y: scroll;

    border: 1px solid #FFFFFF;
    border-radius: 10px 0 0 10px;
}

.Historico_itens.light
{
    border: 1px solid #000000;
}

.Historico_itens_container
{
    width: 90%;
    height: 40px;
    min-height: 40px;

    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;

    list-style-type: none;

    text-align: center;

    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
}

.Historico_button
{
    width: 90%;
    height: 30%;

    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.Historico_button_clear
{
    width: 80px;
    height: 40px;

    margin: 10px;

    font-size: 20px;

    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FF0000;
    border-radius: 10px;

    transition: 0.5s;
}

.Historico_button_clear.light
{
    color: #000000;
}

.Historico_button_clear:hover
{
    color: #000000;
    border: 1px solid  #FFFFFF;
    background-color: #FF0000;

    scale: 1.1;
}


/* Classes manipulano no js do histórico */

    .calculator__situacao_01{ left: 20%; }

    .calculator__situacao_02{ left: 0; }

    .calculator__cell
    {
        left: 0;
        top: 10px;
    }

    .Historico__situacao_01
    {
        top: 1000px;
        opacity: 0;
    }

    .Historico__situacao_02
    {
        top: 10px;
        opacity: 1;
    }

